<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'app1/css/style.css' %}">
</head>
<body>
    <p>drinks</p>
    <img src="{% static 'app2/img/1.jpeg' %}" alt="">
    <img src="{% static 'app2/img/2.jpeg' %}" alt="">
    <img src="{% static 'app2/img/3.jpeg' %}" alt="">
</body>
</html>